<% provide(:title, "Replace existing file") %>
<%= form_for @form, :url => @form, :html => { :multipart => true } do |f| %>
  <%= render 'shared/errors', :model => @form %>

  <%= f.label :document %>
  <p><strong>Only PDFs and Excel spreadsheets permitted.</strong></p>
  <%= f.file_field :document, class: "form-control" %>

  <%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>
